{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "max-len": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 1,
    "react/prop-types": "warn",
    "react/sort-comp": 0
  },
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "16.8"
    },
    "import/resolver": {
      "webpack": {
        "config": "./app/webpack.js"
      }
    }
  }
}
