extends layout

block content
    .chat-demo
        .chat-messages
            div
                .chatmessage.human
                    img.avatar(src="http://localhost:8000/static/images/default_avatar.jpg")
                    .message
                        | Hva kan du gj칮re?
                .chatmessage.bot
                    .message
                        | Jeg kan hjelpe deg med sp칮rsm친l du har om Convertelligence, produktene v친re og kundeservice! Jeg er nyansatt og under oppl칝ring s친 jeg kan ikke svare p친 alt enda, men jeg l칝rer nye ting hver dag, og hvis jeg ikke kan svaret selv kan jeg pr칮ve 친 sende deg i retning av noen som kan mer游뱁
                    img.avatar(src="http://localhost:8000/static/images/icons/kindly-happy.svg")
            div
                .chatmessage.human
                    img.avatar(src="http://localhost:8000/static/images/default_avatar.jpg")
                    .message
                        | Hva kan du gj칮re?
                .chatmessage.bot
                    .message
                        | Jeg kan hjelpe deg med sp칮rsm친l du har om Convertelligence, produktene v친re og kundeservice! Jeg er nyansatt og under oppl칝ring s친 jeg kan ikke svare p친 alt enda, men jeg l칝rer nye ting hver dag, og hvis jeg ikke kan svaret selv kan jeg pr칮ve 친 sende deg i retning av noen som kan mer游뱁
                    img.avatar(src="http://localhost:8000/static/images/icons/kindly-happy.svg")
            div
                .chatmessage.human
                    img.avatar(src="http://localhost:8000/static/images/default_avatar.jpg")
                    .message
                        | Hva kan du gj칮re?
                .chatmessage.bot
                    .message
                        | Jeg kan hjelpe deg med sp칮rsm친l du har om Convertelligence, produktene v친re og kundeservice! Jeg er nyansatt og under oppl칝ring s친 jeg kan ikke svare p친 alt enda, men jeg l칝rer nye ting hver dag, og hvis jeg ikke kan svaret selv kan jeg pr칮ve 친 sende deg i retning av noen som kan mer游뱁
                    img.avatar(src="http://localhost:8000/static/images/icons/kindly-happy.svg")
            div
                .chatmessage.human
                    img.avatar(src="http://localhost:8000/static/images/default_avatar.jpg")
                    .message
                        | Hva kan du gj칮re?
                .chatmessage.bot
                    .message
                        | Jeg kan hjelpe deg med sp칮rsm친l du har om Convertelligence, produktene v친re og kundeservice! Jeg er nyansatt og under oppl칝ring s친 jeg kan ikke svare p친 alt enda, men jeg l칝rer nye ting hver dag, og hvis jeg ikke kan svaret selv kan jeg pr칮ve 친 sende deg i retning av noen som kan mer游뱁
                    img.avatar(src="http://localhost:8000/static/images/icons/kindly-happy.svg")
            div
                .chatmessage.human
                    img.avatar(src="http://localhost:8000/static/images/default_avatar.jpg")
                    .message
                        | Hva kan du gj칮re?
                .chatmessage.bot
                    .message
                        | Jeg kan hjelpe deg med sp칮rsm친l du har om Convertelligence, produktene v친re og kundeservice! Jeg er nyansatt og under oppl칝ring s친 jeg kan ikke svare p친 alt enda, men jeg l칝rer nye ting hver dag, og hvis jeg ikke kan svaret selv kan jeg pr칮ve 친 sende deg i retning av noen som kan mer游뱁
                    img.avatar(src="http://localhost:8000/static/images/icons/kindly-happy.svg")
        .chat-form
            input(type="text", placeholder="Ask me anything" autofocus=1)
